[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
st-pages = "*"
supabase = "*"
python-dotenv = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
